<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs") %>

<div class="container">
<h2>Database Query</h2>
<form method="post">
  <input type="text" name="query"/>
  <input type="submit" placeholder="Ok" />
</form>


<% if (results != null) {%>
<h2>Database Results</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.id %> - <%= r.name %></li>
    <% }); %>
</ul>
<% } %> 

</div>

</body>
</html>